#body {
    background-image: url('../logging/assets/logging.jpg');
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    
    text-align: center;
}

#header {
    font-size: 80px;
    flex-wrap: wrap;
    font-family: 'Original Surfer', cursive;
    background-color: rgb(245, 173, 173);
    margin: 25px;
}

#title {
    font-size: 35px;
    flex-wrap: wrap;
    font-family: 'Original Surfer', cursive;
    background-color: white;
    margin: 10px;
    padding: 5px;
}

#explain {
    font-size: 30px;
    flex-wrap: wrap;
    font-family: 'Original Surfer', cursive;
    background-color: white;
    margin: 10px;
    padding: 5px;
}

#back-btn {
    font-size: 50px;
    flex-wrap: wrap;
    font-family: 'Original Surfer', cursive;
    margin: 10px;
}