.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 20px;
}

.header {
  text-align: center;
}

/* Card flip animation credits: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flip-card-front {
  background-color: rgb(161, 241, 193);
  color: black;
  padding: 5px;

}

.flip-card-back {
  background-color: #29b965;
  color: white;
  transform: rotateY(180deg);
  padding: 5px;

}
