body {
    padding: 0;
    margin: 0;
    font-family: "ABeeZee", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-image: url("../assets/images/shadowforest.jpg");
}

#content-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2vh 0vw;
    padding: 5vh 2vw;
    border-radius: 25px;
    min-width: 40vw;
    max-width: 80vw;
    flex-wrap: wrap;
    height: fit-content;
    position: relative;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.carousel {
    background: #eee;
}

.carousel-cell {
    width: 500px;
    height: 500px;
    margin-right: 10px;
    background: #8c8;
    border-radius: 5px;
    counter-increment: gallery-cell;
    display: relative;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.caption {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 4;
    position: absolute;
    padding: 0px 12px;
    margin: 0px;
}

#caption-text {
    bottom: 0;
    margin: 0;
}

.top {
    z-index: 2;
    position: absolute;
}

.fade {
    animation: fadein 3s infinite alternate;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    36.36% {
        opacity: 0;
    }
    63.63% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions {
    width: fit-content;
    height: fit-content;
    display: none;
}

#question {
    background-color: rgba(18, 34, 13, 0.8);
    border-radius: 15px;
    padding: 3vh 4vw;
    position: relative;
    width: fit-content;
    color: white;
}

#question-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

button {
    border: none;
    background-color: #8c8;
    cursor: pointer;
    color: black;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    font-family: "ABeeZee", sans-serif;
    font-weight: 800;
}

#quiz-me {
    width: 200px;
    position: absolute;
    right: 16px;
}

#close-quiz {
    right: 10px;
    top: 10px;
}

#submit-button {
    right: 10px;
    bottom: 10px;
}

@media screen and (max-width: 550px) {
    .carousel-cell {
        width: 300px;
        height: 300px;
        margin-right: 10px;
        background: #8c8;
        border-radius: 5px;
        counter-increment: gallery-cell;
        display: relative;
    }

    #caption-text {
        font-size: 12px
    }

    img {
        object-fit: contain;
    }

    button {
        border: none;
        background-color: #8c8;
        cursor: pointer;
        color: black;
        padding: 5px;
        border-radius: 50px;
        font-size: 15px;
        font-family: "ABeeZee", sans-serif;
        font-weight: 800;
        max-width: 60px;
    }

    #quiz-me {
        right: 5px;
        top: 5px;
    }
}
