body {
    padding: 0;
    margin: 0;
    font-family: "ABeeZee", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-image: url("../assets/images/shadowforest.jpg");
}

#content-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2vh 15vw;
    padding: 5vh 2vw;
    border-radius: 25px;
    min-width: 40vw;
    flex-wrap: wrap;
    height: fit-content;
}

h1, h2 {
    text-align: center;
}

.carousel {
    background: #eee;
}

.carousel-cell {
    width: 500px;
    height: 400px;
    margin-right: 10px;
    background: #8c8;
    border-radius: 5px;
    counter-increment: gallery-cell;
    display : relative;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.caption { 
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 4;
    position: absolute;
    padding: 0px 12px;
    margin: 0px;
}

#caption-text {
    bottom: 0;
    margin: 0;
}

.top {
    z-index: 2;
}

.fade {
    animation: fadein 3s infinite alternate;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    36.36% {
        opacity: 0;
    }
    63.63% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
